server:
  url: "http://127.0.0.1:8000"
  verify_ssl: false

agent:
  version: "0.1.8"
  uuid: ""
  secret_key: ""

heartbeat:
  interval_sec: 60

download:
  temp_dir: "C:\\ProgramData\\AppCenter\\downloads"
  bandwidth_limit_kbps: 1024

install:
  timeout_sec: 1800
  enable_auto_cleanup: true

update:
  auto_apply: true
  service_name: "AppCenterAgent"
  helper_path: "C:\\Program Files\\AppCenter\\appcenter-update-helper.exe"

work_hours:
  start_utc: "09:00"
  end_utc: "18:00"

logging:
  level: "info"
  file: "C:\\ProgramData\\AppCenter\\logs\\agent.log"
  max_size_mb: 10
  max_backups: 5
